./erlybet.config
*.beam
priv/json.so
priv/log
priv/states
deps/*
log/*
erlybet.config
*.DS_Store
*.dump
erl_crash.dump
*~
*.swp
ebin/erlybet.app
*.state
*.tmproj
*.#
.rebar
rebar
/ebin/
.idea/
*.iml
priv/outcome.conf
doc
.eunit
tags
.jira-url
.tags
errors.txt
*.xml
